@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --clr-light: #ffffff;
    --clr-dark: #0A0A0A;
    --clr-red: #ff0000;
    --clr-grey: #999999;

    --background: var(--clr-light);
    --foreground: var(--clr-dark);
}

.darkmode {
    --clr-light: #ffffff;
    --clr-dark: #0A0A0A;
    --clr-red:#ff0000;
    --clr-grey: #555555;

    --background: var(--clr-dark);
    --foreground: var(--clr-light);
}

*{
    margin: 0;
    box-sizing: border-box;
}

*:target{
    outline: none;
}

/* BODY */

body{
    min-width: 100%;
    display: flex;
    justify-content: center;

    background-color: var(--background);
    color: var(--foreground);
}

/* NAV BAR */

.logo{
    position: fixed;
    left: 0;
    top: 0;

    z-index: 101;

    padding: .5rem 0 1rem 2rem;
}

#barata{
    transition: font-weight 0.5s;

    color:var(--clr-red);
    font-weight: bold;
}

#home{
    position: absolute;
}

#home:hover{
    text-decoration: none;
}

@media screen and (max-width:1420px) {
    #home {
        left: 5rem;
    }

    .logo {
        height: 3.3rem;
        background-color: var(--background);
        min-width: 100vw;
    }
}

/* MENU BUTTON */

#menu-button{
    display: none;
}

.container {
    display: none;
    cursor: pointer;
    position: absolute;
    top: .8rem;
    transition: 0.5s;
}

.container:hover{
    transform: scale(110%)
}

#btn:hover .bar1,#btn:hover .bar2,#btn:hover .bar3{
    background-color: var(--clr-red);
}

.bar1,
.bar2,
.bar3 {
    width: 1.75rem;
    height: .25rem;
    background-color: var(--foreground);
    margin: .25rem 0 0 0;
    transition: 0.4s;
}

#menu-button:checked + label .bar1 {
    transform: translate(0,.5rem) rotate(-45deg);
}

#menu-button:checked + label .bar2 {
    opacity: 0;
}

#menu-button:checked + label .bar3 {
    transform: translate(0,-0.5rem) rotate(45deg);
}

@media screen and (max-width:1420px) {
    .container{
        display: inline-block;
    }
}

/* NAV */

.nav-box {
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    justify-content: left;

    width: 15vw;
    max-width: 300px;
    height: 100vh;
    padding: 0.5rem 0 1.5rem 0;

    text-align: left;

    font-size: 2rem;
    z-index: 100;
}

.nav-box ul{
    list-style: none;
    padding-left: 2rem;
    padding-top: 4.5rem;

}

.nav-box li{
    padding: .5rem 0 0 0;
    transition: font-size 0.1s;
}

#home{
    font-size: 2.5rem
}

#li-dark-mode{
    padding: 2rem 0 0 0;
}

@media screen and (max-width:1520px) {
    .nav-box {
        font-size: 1.5rem;
        transition: font-size 0.1s;
    }
    #home {
        font-size: 2rem
    }
}
@media screen and (max-width:1420px) {
    .nav-box{
        width: 250px;
        background-color: var(--background);
        display: none;
    }
}

/* ARCHITECTURE & ART & PHOTO */

main{
    margin-left: 15vw;
}

@media screen and (max-width:1420px) {
    main {
        margin-left: 0vw;
    }
}

.column{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1rem;
    
    max-width: 80vw;

    margin-bottom: 4rem;
    margin-top: 3.3rem;
    z-index: 0;
}

.column-card{
    min-width: 300px;
}

.column-card img{
    width: 100% !important;
    height: auto !important;
} 


.column-card a:hover img{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;

    transition: filter 0.5s;
}

.column-card h1, .show h1, .column-card h2, .show h2, .column-card h3, .column-card h4{
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

.column-card h2, .show h2, .column-card h3, .column-card h4{
    font-weight: 400;
    text-align: right;
}

.column-card h3, .column-card h4{
    padding-top: 0.5rem;
    font-weight: 100;
    text-align: left;

    color: var(--clr-grey);
}

.column-card h4{
    padding-top: 0.25rem;

    font-style: italic;
}

.column-card h5 {
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: 100;
    text-align: justify;
}

.column-card a h1, .column-card a i{
    transition: color 0.5s;
}

.column-card a:hover h1, .column-card a:hover i{
    text-decoration: none;
    color: var(--clr-red);

    transition: color 0.5s;
}

.info-cell h3:hover{
    text-decoration: none;
    color: var(--foreground);
}

@media screen and (min-width:2550px) {
    .column {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width:3500px) {
    .column {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width:1420px) {
    .column{
        max-width: 90vw;
        grid-template-columns: repeat(3, 1fr);
    }
    .column-card {
            min-width: 27vw;
        }
}

@media screen and (max-width:1000px) {
    .column {
        max-width: 90vw;
        grid-template-columns: repeat(2, 1fr);
    }
    .column-card {
        min-width: 43vw;
    }
}

@media screen and (max-width:700px) {
        .column {
        max-width: 90vw;
            grid-template-columns: repeat(1, 1fr);
    }
        .column-card {
            min-width: 90vw;
    
        }
}  


.info-cell{
    display: grid;
    grid-template-columns: auto auto;
}

.info-cell-1{
    display: grid;
    grid-template-columns: auto;
}

.zoom-in:hover {cursor: zoom-in;}

.zoom-out:hover {cursor: zoom-out;}

/*  PHOTO/000 */ 

.column-1{
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(1, 1fr);
    
    max-width: 720px;
    
    margin-bottom: 4rem;
    margin-top: 3.3rem;
}

@media screen and (max-width:760px) {
        .column-1 {
        max-width: 90vw;
            grid-template-columns: repeat(1, 1fr);
    }
} 

/* LIGHTBOX */

.lightbox {
  /* Default to hidden */
    display: none;

  /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  /* A bit of padding around image */
    padding: 1em;

  /* Translucent background */
    background: rgba(0, 0, 0, 0.5);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
    display: block;
}

.lightbox span {
  /* Full width and height */
    display: block;
    width: 100%;
    height: 100%;

  /* Size and position background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* INDEX */

.container-logo{
    overflow: hidden;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo{
    height: 25rem;
    width: 25rem;

    background-color: var(--foreground);
    -webkit-mask-image: url(../imagens/index/logo.svg);
    mask-image: url(../imagens/index/logo.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    transition: background-color 0.5s;
}

#logo:hover{
    background-color: var(--clr-red);
    -webkit-mask-image: url(../imagens/index/logo.svg);
    mask-image: url(../imagens/index/logo.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

@media screen and (max-width:700px),(max-height:700px) {
        #logo{
            height: 20rem;
            width: 20rem;
}
}

@media screen and (max-width:500px),(max-height:600px) {
        #logo{
            height: 15rem;
            width: 15rem;
}
}

/* ABOUT */

#about{
    cursor: context-menu;
}

.fixed {
    position: absolute;
    top: 110vh;
    /* defined when the element will appear */
    /* bottom: 0;
    left: 0;
    right: 0; */
    /* needed to push the sticky element down */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*fading*/
    -webkit-mask: linear-gradient(to bottom, transparent, #fff 200px);
    mask: linear-gradient(to bottom, transparent, #fff 200px);
}

/* .fixed{ */
    /* stick to the bottom */
    /* position: sticky;
    bottom: 0;

    padding: 15px;
    text-align: center;
} */

.grid{
    display: grid;

    max-width: 750px;

    padding: 5rem 2rem 7rem 2rem;

}

.grid-card{
    display: grid;
    grid-template-columns: auto auto;
    min-height: 2rem;
    gap: 1rem;
    
    padding-top: 3rem;
}

.center{
    justify-content: center;
}

.grid-card h1, .grid-card h2, .grid-card h3, .grid-card h4, .grid-card a{
    font-size: 1rem;
    font-weight: normal;
}

.grid-card a{
        transition: color 0.5s, font-weight 0.1s;
}

.grid-card a:hover{
    font-weight: 600;
}

.grid-card h1{
    font-size: 1.2rem;
    font-weight: 500;

    text-align: left;

    grid-column: span 2;
    color: var(--clr-red);
}

.grid-card h3,.grid-card a, .grid-card a:hover{
    font-size: 1rem;

    text-align: right;
}

.grid-card h4{
    font-size: 1rem;
    font-weight: normal;

    text-align: justify;

    grid-column: span 2;
}

.grid-card small,
.grid-card a:hover small{
    font-size: 0.8rem;
    color: var(--clr-grey);
    font-weight: normal;
}

.grid-card h2 small{
    color: var(--foreground);
}

.grid-card b{
    font-weight: bolder;
}


.red{
    color: var(--clr-red);
}

/* 404 */

#not-found{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    height: 100vh;

    font-size: 2rem;
    font-weight: normal;
}

#error-404{
    font-size: 2rem;
    font-weight: normal;
}

/* OTHERES */

*{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: var(--foreground);
}

a{
    transition: color 0.5s, font-weight 0.1s;
}

a:hover{
    font-weight: bold;
    text-decoration: none;

    color: var(--clr-red);
}

.link-selected{
    font-weight: bold;
}

.link-selected:hover{
    text-decoration: none;
}

/* HIDE SCROLLBAR */

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* EASTEEGG */

#duck {
    height: 1.5rem;
    width: 1.5rem;

    background-color: var(--foreground);
    opacity: 1%;
    -webkit-mask-image: url(../imagens/all/duck.svg);
    mask-image: url(../imagens/all/duck.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    position: fixed;
    top: 5%;
    left: 5%;
    z-index: 2;
    transition: ease 0.5s;
}

#duck:hover {
    background-color: var(--clr-red);
    opacity: 100%;
    -webkit-mask-image: url(../imagens/all/duck.svg);
    mask-image: url(../imagens/all/duck.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

/* DARKMODE */

#dark-mode-toggle{
    background-color: transparent;
    width: 1rem;
    height: 1rem;
    position: relative;
    display:inline-block;
    bottom: 15%;
    border-radius: 1rem;
    border: none;
    outline: var(--foreground) solid 0.15rem;
    overflow: visible;
    transition:0.5s;
}

#dark-mode-toggle:hover {
    border: none;
    outline: var(--clr-red) solid 0.2rem;
    font-weight: normal;
    cursor: pointer;
}

#dark-mode-toggle div{
    background-color: var(--foreground);
    width: 0.5rem;
    height: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: 0.5s;
}

#dark-mode-toggle:hover div {
    background-color: var(--clr-red);
    transform: translateX(-100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}