@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --clr-light: #ffffff;
    --clr-dark: #000000;
    --clr-red: #ff0000;
    --clr-grey: #333333;

    --background: var(--clr-light);
    --foreground: var(--clr-dark);
}

.darkmode {
    --clr-light: #ffffff;
    --clr-dark: #000000;
    --clr-red: #ff0000;
    --clr-grey: #555555;

    --background: var(--clr-dark);
    --foreground: var(--clr-light);
}

*{
    margin: 0;
    box-sizing: border-box;
}

*:target{
    outline: none;
}

/* BODY */

body{
    min-width: 100%;
    display: flex;
    justify-content: center;

    background-color: var(--background);
    color: var(--foreground);
}

/* HEADER */

#header{
    position: fixed;
    left: 0;
    top: 0;

    z-index: 1;

    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem 0 1rem 0;
    background-color: var(--background);

    min-width: 100vw;

    transition: top 0.5s;
}

#barata{
    transition: font-weight 0.5s;

    color:var(--clr-red);
    font-weight: bold;
}


#home:hover{
    text-decoration: none;
}

/* FOOTER */

footer{
    position: fixed;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;

    width: 100vw;
    padding: 1rem 0 1.5rem 0;

    background-color: var(--background);
    text-align: center;

    font-size: 1rem;
}

.grid-cell {
    display: grid;
    width: 30rem;
    grid-template-columns: repeat(5, 1fr);
}

.grid-item {
    text-align: center;
    overflow: show;
} 

@media screen and (max-width:280px){
    .grid-cell{
        grid-template-rows: repeat(2, 1fr) ;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ARCHITECTURE & ART & PHOTO */

.column{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1rem;
    
    max-width: 900px;
    
    margin-bottom: 4rem;
    margin-top: 3.3rem;
}

.column-card{
    min-width: 450px;
}

.column-card img{
    width: 100% !important;
    height: auto !important;
} 

.column-card h1, .show h1, .column-card h2, .show h2, .column-card h3, .column-card h4{
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

.column-card h2, .show h2, .column-card h3, .column-card h4{
    font-weight: 400;
    text-align: right;
}

.column-card h3, .column-card h4{
    padding-top: 0.5rem;
    font-weight: 100;
    text-align: left;

    color: var(--clr-grey);
}

.column-card h4{
    padding-top: 0.25rem;

    font-style: italic;
}

.column-card a h1, .column-card a i{
    transition: color 0.5s;
}

.column-card a:hover h1, .column-card a:hover  i{
    text-decoration: none;
    color: var(--clr-red);

    transition: color 0.5s;
}

.info-cell h3:hover{
    text-decoration: none;
    color: var(--foreground);
}

@media screen and (max-width:940px) {
        .column {
        max-width: 90vw;
            grid-template-columns: repeat(1, 1fr);
    }
} 

@media screen and (max-width:940px) {
        .column-card {
        min-width: 90vw;

    }
} 


.info-cell{
    display: grid;
    grid-template-columns: auto auto;
}

.info-cell-1{
    display: grid;
    grid-template-columns: auto;
}

.zoom-in:hover {cursor: zoom-in;}

.zoom-out:hover {cursor: zoom-out;}

/*  PHOTO/000 */ 

.column-1{
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(1, 1fr);
    
    max-width: 720px;
    
    margin-bottom: 4rem;
    margin-top: 3.3rem;
}

@media screen and (max-width:760px) {
        .column-1 {
        max-width: 90vw;
            grid-template-columns: repeat(1, 1fr);
    }
} 

/* LIGHTBOX */

.lightbox {
  /* Default to hidden */
    display: none;

  /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  /* A bit of padding around image */
    padding: 1em;

  /* Translucent background */
    background: rgba(0, 0, 0, 0.5);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
    display: block;
}

.lightbox span {
  /* Full width and height */
    display: block;
    width: 100%;
    height: 100%;

  /* Size and position background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* INDEX */

.container-logo{
    overflow: hidden;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo{
    height: 25rem;
    width: 25rem;

    background-color: var(--foreground);
    -webkit-mask-image: url(../imagens/index/logo.svg);
    mask-image: url(../imagens/index/logo.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    transition: background-color 0.5s;
}

#logo:hover{
    background-color: var(--clr-red);
    -webkit-mask-image: url(../imagens/index/logo.svg);
    mask-image: url(../imagens/index/logo.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

@media screen and (max-width:700px),(max-height:700px) {
        #logo{
            height: 20rem;
            width: 20rem;
}
}

@media screen and (max-width:500px),(max-height:600px) {
        #logo{
            height: 15rem;
            width: 15rem;
}
}

/* ABOUT */

#about{
    cursor: context-menu;
}

.grid{
    display: grid;

    max-width: 500px;

    padding: 5rem 1.5rem 7rem 1.5rem;

}

.grid-card{
    display: grid;
    grid-template-columns: auto auto;
    min-height: 2rem;
    gap: 1rem;
    
    padding-top: 3rem;
}

.center{
    justify-content: center;
}

.grid-card h1, .grid-card h2, .grid-card h3, .grid-card h4, .grid-card a, .grid-card a:hover {
    font-size: 1rem;
    font-weight: normal;
}

.grid-card h1{
    font-size: 1.2rem;
    font-weight: 500;

    text-align: left;

    grid-column: span 2;
    color: var(--clr-red);
}

.grid-card h3,.grid-card a, .grid-card a:hover{
    font-size: 1rem;

    text-align: right;
}

.grid-card h4{
    font-size: 1.1rem;
    font-weight: normal;

    text-align: justify;

    grid-column: span 2;
}

.grid-card small{
    font-size: 0.8rem;
    color: var(--clr-grey);
}

.grid-card b{
    font-weight: bolder;
}


.red{
    color: var(--clr-red);
}


/* .grid-card h2, .grid-card h3, .grid-card h4{
    font-weight: 400;
    text-align: right;
}

.grid-card h3, .grid-card h4{
    padding-top: 0.5rem;
    font-weight: 100;
    text-align: left;

    color: rgba(0, 0, 0, 0.6);
}

.grid-card h4{
    padding-top: 0.25rem;

    font-style: italic;
} */

/* 404 */

#not-found{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    height: 100vh;

    font-size: 2rem;
    font-weight: normal;
}

#error-404{
    font-size: 2rem;
    font-weight: normal;
}

/* OTHERES */

*{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: var(--foreground);
}

a{
    transition: color 0.5s, font-weight 0.5s;
}

a:hover{
    font-weight: bold;
    text-decoration: none;

    color: var(--clr-red);
}

.link-selected{
    font-weight: bold;
}

.link-selected:hover{
    text-decoration: none;
}

/* DARKMODE */

#dark-mode-toggle{
    background-color: transparent;
    width: .7rem;
    height: .7rem;
    position: relative;
    display:inline-block;
    bottom: 15%;
    border-radius: .7rem;
    border: none;
    outline: var(--foreground) solid 0.1rem;
    transition: 0.5s;
    overflow: visible;
}

#dark-mode-toggle:hover {
    transition: 0.5s;
    border: none;
    outline: var(--clr-red) solid 0.15rem;
    font-weight: normal;
    cursor: pointer;
}

#dark-mode-toggle div{
    background-color: var(--foreground);
    width: .44rem;
    height: .7rem;
    position: absolute;
    top: 0;
    border-top-right-radius: .44rem;
    border-bottom-right-radius: .44rem;
    transition: 0.5s;
}

#dark-mode-toggle:hover div {
    background-color: var(--clr-red);
    transition: 0.5s;
    transform: translateX(-100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: .44rem;
    border-bottom-left-radius: .44rem;
}